/* {
  box-sizing: border-box;
} */

.main-wrapper {
  width: 100%;
  background-image: url('../src/images/bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.calc-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: stretch;
}
.calc-wrapper {
  background: #ece9e9;
  border-radius: 5px;
  box-shadow: 3px 4px 4px 3px #43a6ce69;
  max-width: 330px;

}
.type-show-content {
  width: 100%;
  text-align: end;
  height: 80px;
}

.ans-show-content {
  width: 100%;
  text-align: end;
  height: 80px;
}
.keypad {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

button.btn {
  width: 60px;
  font-size: 24px;
  outline: none;
  border-radius: 50%;
  height: 60px;
  border: none;
  background: white;
  color: #258a94;
  box-shadow: 3px 4px 4px 3px #ccc;
  margin-right: 20px;
}
.keypad-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}


button.sign {
  width: 60px;
  font-size: 24px;
  outline: none;
  border-radius: 50%;
  height: 60px;
  border: none;
  background: #43a6ce;
  color: white;
  padding-top: 5px;
  box-shadow: 3px 4px 4px 3px #ccc;
}

button.equal {
  width: 40%;
  font-size: 24px;
  outline: none;
  border-radius: 40px;
  height: 60px;
  border: none;
  background: #43a6ce;
  color: white;
  padding-top: 5px;
  box-shadow: 3px 4px 4px 3px #ccc;
}

.output-contain {
  width: 100%;
  height: 20vh;
  padding: 1em 0;
}

.number-display {
  text-align: end;
  font-size: 30px;
  margin-right: 10px;
  padding-top: 7%;
  color: #43a6ce;
}

.output-display {
  text-align: end;
  font-size: 40px;
  /* margin-right: 10px; */
  color: #43a6ce;
  max-width: 96%;
  word-break: break-word;
}
